apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: go-gantt-data
  namespace: go-gantt
  labels:
    app: go-gantt
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
